body {
    font-family: Lora;
    background-color: rgb(253, 241, 225);
    padding-top: 46px;
    padding-bottom: 50px;
}

div.top-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 50px;
    background-color: white;
}


div.top-header a {
    font-family: Roboto;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px;
    margin-right: 10px;
    margin-left: 10px;
    color: black;
}

div.header-left-side {
    display: flex;
    flex-direction: row;
}

div.header-left-side a:hover,
div.header-right-side a:hover {
    font-weight: 500;
}


div.white-space {
    display: flex;
    flex-direction: row;
    flex: 1;
}

div.header-center-part a {
    font-family: Lora;
    font-weight: 500;
    font-size: 35px;
    margin: 0;
    color: rgb(0, 0, 0);
    transition: color 0.3s ease-in-out;
    
}

div.header-center-part a:hover {
    color: rgb(179, 221, 80);
}

div.header-right-side {
    display: flex;
}


div.content {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px 30px;
    margin: 40px;
    transition: padding 0.15s, margin 0.15s;
    text-align: center;
}

div.content:hover {
    padding: 30px 50px;
    margin: 40px 20px 20px 20px;
}


h2.content-subheading {
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-weight: 400;
    margin: 0;
    transition: color 0.3s ease-in-out;
}

h2.content-subheading:hover {
    color: rgb(179, 221, 80);
    cursor: pointer;
}

div.pdf-div {
    margin: 10px auto 10px auto;
    width: 100%;
    justify-content: center;
    align-items: center;
}

p.contact-content, 
a.contact-content {
    color: grey;
    transition: color 0.15s;
    text-decoration: none;
    margin-bottom: 10px;
}

p.contact-content:hover,
a.contact-content:hover {
color: rgb(179, 221, 80);
cursor: pointer;
}


@media (max-width: 768px) {
    body {
        padding-top: 70px;
    }

    div.content {
        margin: 40px 15px 40px 15px;
    }

    div.content:hover {
        padding: 10px 20px;
        margin: 40px 10px 20px 10px;
    }

    h2.content-subheading {
        color: rgb(0, 0, 0);
        font-size: 40px;
        font-weight: 400;
        margin: 0;
        transition: color 0.3s ease-in-out;
    }
}

@media (max-width: 720px) {

    div.top-header {
        align-items: center;
        justify-content: center;
    }

    div.header-left-side,
    div.header-right-side {
        display: none;
    }

    div.content {
        margin: 30px 0px 30px 0px;
        padding: 15px 5px;
    }
    div.content:hover {
        padding: 15px 5px;
        margin: 30px 0px 30px 0px;
    }



    

}


