body {
    font-family: Lora;
    background-color: rgb(253, 241, 225);
    padding-top: 46px;
    padding-bottom: 50px;
}

div.top-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px 50px;
    background-color: white;
}


div.top-header a {
    font-family: Roboto;
    font-weight: 400;
    text-decoration: none;
    font-size: 15px;
    margin-right: 10px;
    margin-left: 10px;
    color: black;
}

div.header-left-side {
    display: flex;
    flex-direction: row;
}

div.header-left-side a:hover,
div.header-right-side a:hover {
    font-weight: 500;
}


div.white-space {
    display: flex;
    flex-direction: row;
    flex: 1;
}

div.header-center-part a {
    font-family: Lora;
    font-weight: 500;
    font-size: 35px;
    margin: 0;
    color: rgb(0, 0, 0);
    transition: color 0.3s ease-in-out;
    
}

div.header-center-part a:hover {
    color: rgb(179, 221, 80);
}

div.header-right-side {
    display: flex;
}


div.content-1 {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 15px 30px;
    margin: 40px;
    transition: padding 0.15s, margin 0.15s;
}

div.content-1:hover {
    padding: 30px 50px;
    margin: 40px 20px 20px 20px;
}

div.content-1-left-side {
    display: flex;
    flex-direction: column;
}

h2.content-1-subheading {
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-weight: 400;
    margin: 0;
    transition: color 0.3s ease-in-out;
}

h2.content-1-subheading:hover {
    color: rgb(179, 221, 80);
    cursor: pointer;
}

p.content-1-content {
    color: grey;
}

div.content-1-right-side {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img.picture {
    width: 80%;
    object-fit: cover;
    width: 300px;
    float: none;
}

div.content-2 {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 10px 30px;
    margin: 40px;
    transition: padding 0.15s, margin 0.15s;
}

div.content-2:hover {
    padding: 30px 50px;
    margin: 20px;
}

a.link {
    text-decoration: none;
    color: grey;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: 500;
    transition: color 0.15s;
}

a.link:hover {
    color: rgb(179, 221, 80);

}

div.content-3 {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 10px 30px;
    margin: 40px;
    transition: padding 0.15s, margin 0.15s;
}

div.content-3:hover {
    padding: 30px 50px;
    margin: 20px;
}

p.contact-content, 
a.contact-content {
    color: grey;
    transition: color 0.15s;
    text-decoration: none;
    margin-bottom: 10px;
}

p.contact-content:hover,
a.contact-content:hover {
color: rgb(179, 221, 80);
cursor: pointer;
}

@media (max-width: 1000px) {
    p.content-1-content {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    div.content-1 {
        flex-direction: column; 
    }

    img.picture {
        margin-top: 20px; 
    }

    div.content-1,
    div.content-2,
    div.content-3 {
        margin: 40px 15px 40px 15px;
        padding: 15px 30px;
    }

    div.content-1:hover,
    div.content-2:hover,
    div.content-3:hover {
        padding: 15px 30px;
        margin: 40px 15px 40px 15px;

    }
    
}

@media (max-width: 720px) {
    body {
        padding-top: 70px;
    }

    div.top-header {
        align-items: center;
        justify-content: center;
    }

    div.header-left-side,
    div.header-right-side {
        display: none;
    }
    
}


